@import "tailwindcss";

:root {
  --bg-color: #384570;
  --bg-color-dark: #1c233d;
  --text: #f1f1f1;
  --button: #5371b9;
  --button-light: #7396fc;
}

select:has(option:disabled:checked) {
  color: color-mix(in oklab, currentColor 50%, transparent);
}
